body {
    margin: 50px 17%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #cee5f2;
  }

h1, h2, h3 {
    font-family: 'Merriweather Sans', sans-serif; 
    text-align: center;
}

h1 {
    font-size: 56px;
    padding-top: 16px;
}

h2 {
    font-size: 36px;
}

.subheading {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: 10px; 
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 21px;
    text-justify: inter-word;
}

.note {
    text-align: center;
    font-size: 12px;
}

.subheading {
    font-size: 24px;
}

.vis {
    border: 1px solid black;
}

.map {
    width: 1500;
    height: 600;
}
  
